<div class="contacts__content">
    <div class="contacts__col">
        <div class="contacts__contact">
            <span class="contact__title">Адрес</span>
            <span class="contact__info">МГТУ имени Н.Э. Баумана, учебно-лабораторный корпус.<br/>Рубцовская наб., 2/18, аудитория 901, Москва, 105005, Россия</span>
        </div>
        <div class="contacts__contact">
            <span class="contact__title">Телефон</span>
            <span class="contact__info">+7 499 263-63-92</span>
        </div>
        <div class="contacts__contact">
            <span class="contact__title">Email</span>
            <span class="contact__info">fn1@bmstu.ru</span>
        </div>
    </div>
    <div class="contacts__col">
        <div class="contacts__contact">
            <span class="contact__title">Заведующий кафедрой:</span>
            <span class="contact__info">Сидняев Николай Иванович</span>
        </div>
        <div class="contacts__contact">
            <span class="contact__title">Заведующие секциями:</span>
            <div class="contact__managers">
                <span class="contact__info">ФН, ИБМ — Сунчалина Анна Леонидовна</span>
                <span class="contact__info">МТ, Э — Мастихин Антон Вячеславович</span>
                <span class="contact__info">РК, БМТ — Томашпольский Виктор Яковлевич</span>
                <span class="contact__info">СГН — Тянникова Нина Дмитриевна</span>
                <span class="contact__info">Л, ЮР, ГУИМЦ — Семакин Артем Николаевич</span>
            </div>
        </div>
    </div>
</div>