{% load static %}

<header class="header">
    <img class="header__logo" src="{% static 'img/bauman-logo.svg' %}" alt="Логотип МГТУ им. Н.Э. Баумана">

    <nav class="header__nav">
        <a href="" class="header__anchor">О кафедре</a>
        <a href="" class="header__anchor">Учебные материалы</a>
        <a href="" class="header__anchor">Проекты</a>
        <a href="" class="header__anchor">Новости</a>
        <a href="" class="header__anchor">Контакты</a>
    </nav>

    <div class="header__contacts">
        <a href="https://t.me/abitur_fn">
            <img class="header__contact" src="{% static 'img/icons/tg-logo-icon.svg' %}" alt="Telegram кафедры">
        </a>
        <a href="callto:8-499-263-63-92">
            <img class="header__contact" src="{% static 'img/icons/phone-icon.svg' %}" alt="Telegram кафедры">
        </a>
        <a href="mailto:dekanatfn@bmstu.ru">
            <img class="header__contact" src="{% static 'img/icons/mail-icon.svg' %}" alt="Telegram кафедры">
        </a>
    </div>
</header>