{% extends "base.html" %}
{% load static %}

{% block title %}
    О кафедре
{% endblock %}

{% block main %}
    <section class="section first-screen">
        {% include 'components/first_screen.html' %}
    </section>

    <section class="section about">
        <div class="about__block">
            <h1>О кафедре</h1>
            <div class="about__info">
                <p class="p">
                    Кафедра «Высшая математика» МГТУ им. Н.Э. Баумана является ведущим учебным центром по подготовке кадров в области фундаментальных исследований по прикладной математике, вычислительной математике и информатике.
                </p>
                <p class="p">
                    Круг научных интересов специалистов, работающих на кафедре, очень широк. По ряду направлений они занимают ведущие позиции в разрабатываемых проблемах теоретической и прикладной математики. Многие результаты, полученные преподавателями кафедры, получили признание не только в нашей стране, но и за рубежом. На кафедре проводятся научные конференции по актуальным направлениям развития прикладной математики в энергетике, энергоэффективности и информационно-коммуникационных технологиях.
                </p>
                <p class="p">
                    Кафедра ведёт математические дисциплины у факультетов МТ, Э, РК, БМТ, ИБМ, Л и ЮР.
                </p>
            </div>
            <a class="about__link" href="/aboutFn">
                Подробнее
                <img src="{% static 'img/icons/arrow-icon.svg' %}" alt="">
            </a>
        </div>

        <div class="about__block">
            <span class="subtitle-1">Основные направления исследований на кафедре:</span>
            <ul class="list">
                <li class="list-item">Дифференциальные уравнения и уравнения в частных производных;</li>
                <li class="list-item">Теория вероятностей, математическая статистика, математическая теория надёжности;</li>
                <li class="list-item">Исследование операций;</li>
                <li class="list-item">Теория планирования эксперимента;</li>
                <li class="list-item">Функциональный анализ и алгебра;</li>
                <li class="list-item">Механика сплошной среды;</li>
                <li class="list-item">Теория атомарных и R-функций, вейвлеты, фракталы;</li>
                <li class="list-item">Теория функций действительного переменного. Ряды Фурье;</li>
                <li class="list-item">Функциональный анализ. Спектральный и нелинейный анализ;</li>
                <li class="list-item">Моделирование задач механики с учётом физической и геометрической нелинейности;</li>
                <li class="list-item">Развитие теории ползучести;</li>
                <li class="list-item">Статистические методы обработки экспериментальных данных;</li>
                <li class="list-item">Экспериментальные методы исследования напряжённо-деформированного состояния конструкций.</li>
            </ul>
        </div>
    </section>

    <section class="section admission">
        <h1>Поступление</h1>
        <div class="admission__details">
            {% include 'components/details.html' with summary='Бакалавриат' subtitle1='01.03.04 Направление «Прикладная математика»' paragraph='Программа бакалавриата «Прикладная математика» готовит специалистов, способных решать задачи в различных областях, от науки и техники до экономики и информационных технологий. Обучение сочетает глубокие теоретические знания математики с их практическим применением, формируя у студентов навыки разработки и анализа сложных систем и процессов.Программа включает фундаментальные дисциплины (математический анализ, линейную алгебру, статистику и теорию вероятностей, дифференциальные и интегральные уравнения, дискретную математику) и практические методы (численные методы, компьютерное моделирование и программирование). Студенты учатся моделировать процессы, анализировать большие данные, решать оптимизационные задачи, применять математические знания и современные методы в междисциплинарных исследованиях.' %}
            {% include 'components/details.html' with summary='Магистратура' subtitle1='01.04.04 Направление «Прикладная математика»' paragraph='Программа бакалавриата «Прикладная математика» готовит специалистов, способных решать задачи в различных областях, от науки и техники до экономики и информационных технологий. Обучение сочетает глубокие теоретические знания математики с их практическим применением, формируя у студентов навыки разработки и анализа сложных систем и процессов.Программа включает фундаментальные дисциплины (математический анализ, линейную алгебру, статистику и теорию вероятностей, дифференциальные и интегральные уравнения, дискретную математику) и практические методы (численные методы, компьютерное моделирование и программирование). Студенты учатся моделировать процессы, анализировать большие данные, решать оптимизационные задачи, применять математические знания и современные методы в междисциплинарных исследованиях.' %}
            {% include 'components/details.html' with summary='Аспирантура' subtitle1='1.2.2. Научная специальность «Математическое моделирование, численные методы и комплексы программ»' subtitle2='1.2.2. Научная специальность «Математическое моделирование, численные методы и комплексы программ»' %}    
        </div>
    </section>

    <section id="projects" class="section projects">
        <h1>Проекты</h1>
        <div class="projects__content">
            {% for project in projects %}
                <div class="project">
                    <span class="subtitle-1">{{ project.title }}</span>
                    <div class="project__content">
                        {% for article in project.content %}
                            {% include 'components/article.html' with reversed=article.reversed img=article.img title=article.title text=article.text text_group=article.text_group list=article.list button=article.button %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="news" class="section news">
        <h1>Новости</h1>
        <div class="news__content">
            {% for news_article in news %}
                {% include 'components/news_article.html' with img=news_article.img title=news_article.title text=news_article.text id=news_article.id %}
            {% endfor %}
        </div>
    </section>

    <section id="contacts" class="section contacts">
        <h1>Контакты</h1>
        {% include 'components/contacts.html' %}
    </section>
{% endblock %}