{% extends "base.html" %}
{% load static %}

{% block title %}
    О кафедре
{% endblock %}

{% block main %}
    <section class="admission">
        <h1>Поступление</h1>
        <div class="admission__details">
            {% include 'components/details.html' with summary='Бакалавриат' subtitle1='01.03.04 Направление «Прикладная математика»' paragraph='Программа бакалавриата «Прикладная математика» готовит специалистов, способных решать задачи в различных областях, от науки и техники до экономики и информационных технологий. Обучение сочетает глубокие теоретические знания математики с их практическим применением, формируя у студентов навыки разработки и анализа сложных систем и процессов.Программа включает фундаментальные дисциплины (математический анализ, линейную алгебру, статистику и теорию вероятностей, дифференциальные и интегральные уравнения, дискретную математику) и практические методы (численные методы, компьютерное моделирование и программирование). Студенты учатся моделировать процессы, анализировать большие данные, решать оптимизационные задачи, применять математические знания и современные методы в междисциплинарных исследованиях.' %}
            {% include 'components/details.html' with summary='Магистратура' subtitle1='01.04.04 Направление «Прикладная математика»' paragraph='Программа бакалавриата «Прикладная математика» готовит специалистов, способных решать задачи в различных областях, от науки и техники до экономики и информационных технологий. Обучение сочетает глубокие теоретические знания математики с их практическим применением, формируя у студентов навыки разработки и анализа сложных систем и процессов.Программа включает фундаментальные дисциплины (математический анализ, линейную алгебру, статистику и теорию вероятностей, дифференциальные и интегральные уравнения, дискретную математику) и практические методы (численные методы, компьютерное моделирование и программирование). Студенты учатся моделировать процессы, анализировать большие данные, решать оптимизационные задачи, применять математические знания и современные методы в междисциплинарных исследованиях.' %}
            {% include 'components/details.html' with summary='Аспирантура' subtitle1='1.2.2. Научная специальность «Математическое моделирование, численные методы и комплексы программ»' subtitle2='1.2.2. Научная специальность «Математическое моделирование, численные методы и комплексы программ»' %}    
        </div>
    </section>
{% endblock %}