{% extends "base.html" %}
{% load static %}

{% block title %}
    О кафедре ФН1
{% endblock %}

{% block main %}
<div class="about-fn-container">
    <h1>О кафедре ФН1 «Высшая математика»</h1>

    {% for story in history %}
        <div class="about-fn-container-base">
            <span class="subtitle-1">{{ story.title }}</span>
            <div class="project__content">
                {% for article in story.content %}
                    {% include 'components/article.html' with reversed=article.reversed img=article.img title=article.title text=article.text text_group=article.text_group list=article.list button=article.button %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}