{% extends "base.html" %}
{% load static %}

{% block title %}
    О кафедре ФН1
{% endblock %}

{% block main %}
<div class="about-fn-container">
    <h1>О кафедре ФН1 «Высшая математика»</h1>
    <div class="about-fn-container-base">
        <span class="subtitle-1">История кафедры</span>
        {% include 'components/article.html' with img=history.img text=history.text reversed=True %}
        {% include 'components/article.html' with img=persolation1.img text=persolation1.text %}
    </div>

    <div class="about-fn-container-base" id="personalii">
        <span class="subtitle-1">Персоналии</span>
        {% include 'components/article.html' with img=persolation.img text=persolation.text reversed=True %}
        {% include 'components/article.html' with img=persolation1.img text=persolation1.text %}
    </div>
</div>
{% endblock %}