.about-fn-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 32px;
}

.about-fn-container-base {
    display: flex;
    flex-direction: column;
    gap: 20px;
}