.about-fn-container {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-top: 64px;
}

.about-fn-container-base {
    display: flex;
    flex-direction: column;
    gap: 20px;
}