.contacts__content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contacts__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.contacts__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact__title {
    font-size: 24px;
    color: var(--text-accent-dark);
    line-height: 1.3;
}

.contact__info {
    font-size: 16px;
    line-height: 1.3;
}

.contact__managers {
    display: flex;
    flex-direction: column;
    gap: 4px;
}