.first-screen__container {
    height: 80vh;

    @media screen and (max-width: 600px) {
        font-size: 16px;
        height: calc(100vh - 81px);
    }
}

.first-screen__content {
    height: 80vh;
    z-index: 1;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.first-screen__title {
    font-size: 64px;
    color: var(--text-accent);
}

.first-screen__subtitle {
    font-size: 40px;
    color: var(--text-primary);
}

.first-screen__bg {
    position: absolute;
    z-index: 0;
    width: 100vw;
    margin-left: -100px;
    height: 80vh;
    object-fit: cover;
}

#graphCanvas {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: calc(100vh - 81px);
}