.footer {
    background-color: var(--bg-accent);
    width: 100%;
    display: flex;              
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.footer__content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}


.footer__logo{
    width: 64px;
    margin-bottom: 10px;

}

.footer__links, .footer__contacts{
    display: flex;
    flex-direction: column;
}

.footer__contacts{
    max-width: 450px;
}

.footer__contacts p {
  margin: 5px 0;
  font-size: 12px;
  line-height: 1.4;
}

.footer__links h3,
.footer__contacts h3{
    font-size: 16px;
    color: var(--bg-primary);
    margin-bottom: 5px;
}

.footer__links_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links ul,
.footer__contacts ul
{
    list-style: none;
    font-size: 12px;
    color: var(--bg-primary);
}


.footer__links ul li,
.footer__contacts ul li {
  margin-bottom: 5px;
}


.footer__links a,
.footer__contacts a {
    color: var(--bg-primary);
    text-decoration: none;
    font-size: 12px;
}

.footer__links a:hover,
.footer__contacts a:hover {
  text-decoration: underline;
}

.links__divider {
  width: 1px;
  background-color: #fff;
  margin: 0 20px; /* отступы от колонок */
}
