.header {
    width: 100%;
    padding: 12px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-bottom: solid 1px var(--stroke-primary);
    position: fixed;
    background: var(--bg-primary);
    z-index: 2;
    transition: height .3s ease;

    @media screen and (max-width: 960px) {
        padding: 8px 64px;
    }

    @media screen and (max-width: 600px) {
        padding: 6px 20px;
        background: var(--bg-accent);
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
    }
}

.header__logo {
    height: 48px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        filter: invert(100%);
    }
}

.header__logo:hover {
    opacity: .8;
}


.header__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    line-height: 120%;
    position: relative;
}

.header__anchor {
    text-decoration: none;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    white-space: nowrap;

    @media screen and (max-width: 960px) {
        display: none;
    }
}

.header__arrow {
    width: 16px;
    transition: transform 0.2s;
}

.header__arrow.open {
    transform: rotate(-180deg);
}

.header__dropdown {
    position: relative;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.header__dropdown-menu {
    position: absolute;
    top: 150%;
    left: 0;
    background: var(--bg-primary);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    display: none;
    flex-direction: column;
    min-width: 240px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
}

.header__dropdown-menu.visible {
    display: flex;
}

.header__dropdown-item {
    padding: 10px 16px;
    text-decoration: none;
    color: var(--text-primary);
    /* transition: background 0.2s; */
    border-radius: 6px;
}

.header__dropdown-item:hover {
    background: #EEEEEE;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.header__contact {
    width: 28px;
    height: 28px;

    @media screen and (max-width: 600px) {
        width: 24px;
        height: 24px;
        filter: invert(100%);
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

.header__menu {
    width: 40px;
    height: 40px;
    cursor: pointer
}








/* Мобильное меню */
.header__mobile-menu {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* ВАЖНО: плавная анимация */
    transition:
        max-height .35s ease,
        opacity .25s ease,
        padding .3s ease;
}

.header__mobile-menu.open {
    max-height: 350px; /* или больше, если контента больше */
    opacity: 1;
    padding: 8px 0;
    margin-top: 12px;
}

.header--open {
    /* Чтобы хедер расширялся вниз */
    padding-bottom: 20px;
}


/* Пункты мобильного меню */
.header__mobile-item {
    color: var(--text-negative);
    text-decoration: none;
    font-size: 20px;
    padding: 8px 0;
}

.header__mobile-dropdown {
    display: flex;
    flex-direction: column;
}

.header__mobile-submenu {
    display: none;
    flex-direction: column;
    margin-left: 32px;
    gap: 8px;
}

.header__mobile-submenu.open {
    display: flex;
}

.header__mobile-subitem {
    color: var(--text-negative);
    text-decoration: none;
    padding: 4px 0;
    font-size: 16px;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}