.header {
    width: 100%;
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--stroke-primary);
    position: fixed;
    background: var(--bg-primary);
    z-index: 2;

    @media screen and (max-width: 600px) {
        padding: 12px 20px;
    }
}

.header__logo {
    height: 56px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    line-height: 120%;
    position: relative;
}

.header__anchor {
    text-decoration: none;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.header__arrow {
    width: 16px;
    transition: transform 0.2s;
}

.header__arrow.open {
    transform: rotate(-180deg);
}

.header__dropdown {
    position: relative;
}

.header__dropdown-menu {
    position: absolute;
    top: 150%;
    left: 0;
    background: var(--bg-primary);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    display: none;
    flex-direction: column;
    min-width: 240px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
}

.header__dropdown-menu.visible {
    display: flex;
}

.header__dropdown-item {
    padding: 10px 16px;
    text-decoration: none;
    color: var(--text-primary);
    /* transition: background 0.2s; */
    border-radius: 6px;
}

.header__dropdown-item:hover {
    background: #EEEEEE;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__contact {
    width: 28px;
    height: 28px;

    @media screen and (max-width: 600px) {
        width: 24px;
        height: 24px;
    }
}
