.news-article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.news-article__img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.news-article__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-article__title {
    font-size: 24px;
}

.news-article__text {
    font-size: 16px;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}