@font-face {
    font-family: 'als-sector';
    src: url('../fonts/als-sector-regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'als-sector';
    src: url('../fonts/als-sector-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}