.materials-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    user-select: none;
}

.subtitle-big {
    display: inline-flex;
    font-size: 32px;
    color: var(--text-primary);
    cursor: pointer;
    transition: color 0.2s;
}

.subtitle-big.smaller{
    font-size: 28px;
}

.subtitle-big:hover{
    color: var(--bg-accent);
}

.subtitle-big::marker {
    content: '';
}

details > summary.subtitle-big {
    margin-top: 4px;
    margin-bottom: 4px;
}

details > summary.subtitle-small {
    margin-top: 4px;
    margin-bottom: 2px;
}

details[open] > summary.subtitle-big {
  color: var(--bg-accent);
}

details[open] > summary.subtitle-small {
  color: var(--bg-accent);
}


details details > summary.subtitle-big {
  margin-left: 30px;
}

.subtitle-small {
    display: inline-flex;
    font-size: 24px;
    color: var(--text-primary);
    cursor: pointer;
}

.subtitle-small:hover{
    color: var(--bg-accent);
}

.subtitle-small::marker {
    content: '';
}

.details[open] .subtitle-small{
    color: var(--bg-accent);
}

details[open] summary.subtitle-small{
    margin-left: 60px;
}

.materials__fileslist{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 6px;
    gap: 8px;
}

.materals__fileinfo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.materials-block__filename{
    font-size: 18px;
    color: vat(--text-primary);
}

.materals__fileicon{
    width: 20px;
}


@media (max-width: 480px) {
    .subtitle-big { font-size: 28px; }
    .subtitle-small { font-size: 18px; }

    .subtitle-big.smaller {
        font-size: 24px;
    }

    details details > summary.subtitle-big {
        margin-left: 10px;
    }

    details[open] > summary.subtitle-small {
        margin-left: 20px;
    }

    .materials__fileslist {
        margin-left: 25px;
    }

    .materials-block {
        gap: 12px;
    }

    .materials-block__filename {
        font-size: 15px;
    }

    .materals__fileicon {
        width: 16px;
    }

    details[open] > summary.subtitle-big {
        color: var(--bg-accent);
        font-size: 28px;
    }
}
