* {
    font-family: 'als-sector', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

main {
    flex: 1;
    padding: 140px 100px;
    display: flex;
    flex-direction: column;
    gap: 140px;
    margin-top: 81px;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
}