* {
    font-family: 'als-sector', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding: 128px;
}

main {
    flex: 1;
    padding: 140px 100px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 140px;
    margin-top: 81px;

    @media screen and (max-width: 960px) {
        padding: 140px 64px;
        gap: 80px;
        margin-top: 72px;
    }

    @media screen and (max-width: 600px) {
        padding: 0 20px;
        margin-top: 64px;
    }

    @media screen and (max-width: 500px) {
        gap: 60px;
    }
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;

    @media screen and (max-width: 500px) {
        font-size: 40px;
    }
}

a {
    text-decoration: none;
}
