* {
    font-family: 'als-sector', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding: 128px;
}

main {
    flex: 1;
    padding: 140px 100px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 140px;
    margin-top: 81px;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
}

@media (max-width: 480px) {
    main {
        padding: 20px;
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
    }
}